<section class="form_toggle" [class.left]="toggle == 'login'" [class.right]="toggle == 'register'"
   [class.hide]="show_process">
   <h1 *ngIf="isLoadingResults ">Loading</h1>
   <ul class="btn_container">
      <li class="login">
         <img src="../../../assets/imgs/signup_right.svg" alt="taeki sign up">
         <p>Already registered?</p>
         <button class="resolve" (click)="toggleViews('login')">
            <h1>Login</h1>
         </button>
      </li>
      <li class="register">
         <img src="../../../assets/imgs/login_left.svg" alt="taeki sign up">
         <h1>New?</h1>
         <p>sign up for a free account.</p>
         <button class="resolve" (click)="toggleViews('register')">
            <h1>Sign up</h1>
         </button>
      </li>
   </ul>
</section>

<section class="form_container" [class.login]="toggle == 'login'" [class.register]="toggle == 'register'">
   <img class="login_right" src="../../../assets/imgs/login_right.svg">
   <img class="signup_left" src="../../../assets/imgs/signup_left.svg">
   <ul class="form login">
      <li>
         <h1>Welcome Back</h1>
      </li>
      <li class="input_container" [class.error]="err.email.length != 0">
         <span>{{err.email}}</span>
         <label for="login_email" class="label">Email</label>
         <input id="login_email" [(ngModel)]="user.email" type="email">
      </li>
      <li class="input_container" [class.error]="err.password.length != 0">
         <span>{{err.password}}</span>
         <label for="login_password" class="label">Password</label>
         <input id="login_password" (keyup.enter)="login()" [(ngModel)]="user.password"
            type="{{passwordViewToggle ? 'text' : 'password'}}">
         <i class="fal fa-fw {{passwordViewToggle ? 'fa-eye' : 'fa-eye-slash'}}" (click)="togglePasswordView()"></i>
      </li>
      <li class="resolve" (click)="login()">
         <h1>Login</h1>
         <span>{{err.noAccount}}</span>
      </li>
   </ul>
   <div class="form register" [class.process_form]="show_process">
      <ul [class.hide]="show_process">
         <li>
            <h1>Welcome to Taeki</h1>
         </li>
         <li class="input_container" [class.error]="err.name.length != 0">
            <span>{{err.name}}</span>
            <label for="regi_name" class="label">name</label>
            <input [(ngModel)]="user.name" id="regi_name" type="text">
         </li>
         <li class="input_container" [class.error]="err.email.length != 0">
            <span>{{err.email}}</span>
            <label for="regi_email" class="label">email</label>
            <input [(ngModel)]="user.email" id="regi_email" type="text">
         </li>
         <li class="input_container" [class.error]="err.password.length != 0">
            <span>{{err.password}}</span>
            <label for="regi_password" class="label">password</label>
            <input [(ngModel)]="user.password" id="regi_password" type="{{passwordViewToggle ? 'text' : 'password'}}"
               (keyup.enter)="register()">
            <i class="fal fa-fw {{passwordViewToggle ? 'fa-eye' : 'fa-eye-slash'}}" (click)="togglePasswordView()"></i>
         </li>
         <li class="input_container" [class.error]="confirmedPassword != user.password">
            <label for="confirm_password" class="label">confirm password</label>
            <input [(ngModel)]="confirmedPassword" id="confirm_password"
               type="{{passwordViewToggle ? 'text' : 'password'}}" (keyup.enter)="register()">
            <i class="fal fa-fw {{passwordViewToggle ? 'fa-eye' : 'fa-eye-slash'}}" (click)="togglePasswordView()"></i>
         </li>
         <li class="checkbox_container">
            <input id="terms_condition" [(ngModel)]="terms_condition" type="checkbox" [checked]="terms_condition">
            <label for="terms_condition" class="label">
               I agree to the
               <span (click)="showTerms()">Terms of service</span>
               and
               <span (click)="showPrivacy()">Privacy policy</span>
            </label>
         </li>
         <li class="company_or_personal">
            <ul>
               <li>
                  <input id="com_true" [value]="true" (change)="selectType($event)" [(ngModel)]="company_personal"
                     type="radio">
                  <label for="com_true" class="label">Company</label>
               </li>
               <li>
                  <input id="com_false" [value]="false" (change)="selectType($event)" [(ngModel)]="company_personal"
                     type="radio">
                  <label for="com_false" class="label">Private</label>
               </li>
            </ul>
         </li>
         <li class="resolve" [class.disabled]="!terms_condition" (click)="register()">
            <h1>Register</h1>
         </li>
      </ul>
      <div class="process" [class.hide]="!show_process">
         <div class="title">
            <h1 [class.show]="step == 1">Sign up process</h1>
            <h1 [class.show]="step == 2">Almost there</h1>
         </div>
         <div class="step">
            <p [class.selected]="step == 1"><span>1</span> About your company</p>
            <p [class.selected]="step == 2"><span>2</span> About you</p>
         </div>
         <div class="footer">
            <i [class.show]="step == 1" class="fad fa-info-circle"></i>
            <i [class.show]="step == 2" class="fad fa-user-circle"></i>
            <p [class.show]="step == 1">We just need some basic information to set up your account with company details
            </p>
            <p [class.show]="step == 2">Now to just confirm your infomation</p>
         </div>
      </div>
      <div class="process_right" [class.hide]="!show_process">
         <div class="step_one" [class.show]="step == 1">
            <h1>Tell us about your company</h1>
            <input-text (value)="getValFromTxtCompo($event, 'name')" [label]="'Company name'" [model]="company.name">
            </input-text>
            <input-text (value)="getValFromTxtCompo($event, 'website')" [label]="'Company website (optional)'"
               [model]="company.website"></input-text>
            <ul class="btn_group">
               <li><button class="resolve info" (click)="register()">Finish later</button></li>
               <li><button class="resolve" (click)="confirmUser()">Next</button></li>
            </ul>
         </div>
         <div class="step_two" [class.show]="step == 2">
            <h1>Confirm your infomation</h1>
            <input-text [model]="user.name" [label]="'Name'"></input-text>
            <input-text [model]="user.email" [label]="'Email'"></input-text>
            <input-text [model]="user.password" [label]="'Password'"></input-text>
            <ul class="btn_group">
               <li><button class="reject" (click)="step = 1">Back</button></li>
               <li><button class="resolve" (click)="register()">Register</button></li>
            </ul>
         </div>
      </div>
   </div>
</section>

<div class="overlay" [class.active]="term_modal || privacy_modal" (click)="closeModal()"></div>

<div class="modal" [class.show]="term_modal">
   <h1>Terms & Condition</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, debitis ducimus libero magnam minus placeat quasi
      repellendus. Excepturi harum necessitatibus nostrum qui quos ratione voluptatum. At dolor doloribus enim eveniet
      fuga, minima, nisi officiis possimus quibusdam tempore velit voluptas voluptate voluptatibus. Asperiores
      doloremque enim eos perspiciatis, porro reprehenderit sequi tempora tenetur totam vel! Consectetur dolorem earum
      et ipsum iste itaque neque porro qui. Ad, adipisci enim necessitatibus non nostrum quae unde. Ab accusamus aliquam
      blanditiis cupiditate eligendi error expedita illum iste itaque iure libero molestiae molestias natus omnis optio
      quae quaerat quas quia recusandae repellendus, reprehenderit rerum veniam veritatis voluptatum.</p>
</div>

<div class="modal" [class.show]="privacy_modal">
   <h1>Privacy Policy</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, debitis ducimus libero magnam minus placeat quasi
      repellendus. Excepturi harum necessitatibus nostrum qui quos ratione voluptatum. At dolor doloribus enim eveniet
      fuga, minima, nisi officiis possimus quibusdam tempore velit voluptas voluptate voluptatibus. Asperiores
      doloremque enim eos perspiciatis, porro reprehenderit sequi tempora tenetur totam vel! Consectetur dolorem earum
      et ipsum iste itaque neque porro qui. Ad, adipisci enim necessitatibus non nostrum quae unde. Ab accusamus aliquam
      blanditiis cupiditate eligendi error expedita illum iste itaque iure libero molestiae molestias natus omnis optio
      quae quaerat quas quia recusandae repellendus, reprehenderit rerum veniam veritatis voluptatum.</p>
</div>