<section class="left">
  <h1 class="title"><i class="fal fa-user-friends"></i> Departments</h1>
  <input-search [model]=""></input-search>
  <ul class="departments container">
    <li *ngFor="let department of departments; let index = index" (click)="selectDepartment(department, index)"
      [class.selected]="selected == index">
      <h2>{{department.label}}</h2>
      <div class="users">
        <img-holder *ngFor="let user of department.users | slice:0:3" [src]="user.img"></img-holder>
        <h2>+ {{department.users.length - 3}}</h2>
      </div>
    </li>
  </ul>
  <i tooltip="Create department" placement="left" class="circle primary add fal fa-plus"></i>
</section>
<section class="right">
  <ul class="top_header">
    <li class='add_user'>
      <i style="position: unset" class="circle primary fal fa-plus"></i>
      <p>Add user to department</p>
    </li>
  </ul>
  <ul class="user_cards">
    <li class="card" *ngFor="let user of department.users">
      <h3>
        {{user.name.split(' ').slice(0, -1).join(' ')}}
        <span style="font-weight: bold">{{user.name.split(' ').slice(-1).join(' ')}}</span>
      </h3>
      <span>{{user.email}}</span>
      <span>{{user.phone}}</span>
      <span class="hide" [class.depHead]="user.depHead">Department Head</span>
      <i *ngIf="!user.depHead" class="user_options fal fa-user-minus"></i>
      <i class="user_options fal fa-comment-alt-lines"></i>
      <img-holder [src]="user.img"></img-holder>
    </li>
  </ul>
</section>