<navbar></navbar>
<section #container (scroll)="scroll()" class="container">
   <section class="col col-2">
      <div class="left">
         <h1 class="title">Lorem, ipsum dolor.</h1>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore earum ab praesentium illo quo consectetur?
         </p>
         <button class="resolve">Free Trial</button>
      </div>
      <div class="right">
         <img src="{{this.src}}selecting.svg">
      </div>
   </section>
   <section class="col col-2">
      <div class="left">
         <img src="{{this.src}}analysis.svg">
      </div>
      <div class="right">
         <h1 class="title">Lorem, ipsum dolor.</h1>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore earum ab praesentium illo quo consectetur?
         </p>
      </div>
   </section>
   <ul class="col col-3">
      <li>
         <i class="fad circle primary fa-chart-network"></i>
         <h2>Lorem ipsum dolor sit.</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quas corrupti recusandae.</p>
      </li>
      <li>
         <i class="fad circle info fa-chart-pie"></i>
         <h2>Lorem ipsum dolor sit.</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quas corrupti recusandae.</p>
      </li>
      <li>
         <i class="fad circle success fa-browser"></i>
         <h2>Lorem ipsum dolor sit.</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quas corrupti recusandae.</p>
      </li>
   </ul>
</section>