$font: "futura pt";

$white: #ffffff;
$gray: #cccccc;
$base: #101010;

$block_bg: #1b1b1b;
$block_fg: #242424;

$primary: #ff3366;
$success: #04bb40;
$info: #5165ff;
$warning: #ea7c00;
$danger: #ff2222;

$circle_radius: 4rem;
$round_radius: 6px;
