$font: "futura pt";

$white: #ffffff;
$gray: #cccccc;
$base: #202237;
$info: #7a4bb7;
$block_bg: #2d3049;
$block_fg: #3e4360;
$primary: #667cff;
$success: #04bb40;
$warning: #ea7c00;
$danger: #ff2261;

$circle_radius: 4rem;
$round_radius: 6px;
